.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.choice button{
    font-size: 15px;
    background-color: #1b8cf1;
    color: aliceblue;
    border: none;
    width: 80x;
    height: 35px;
    margin: 10px 5px;
    font-weight: bolder;
    box-shadow: 1px 1px 5px black;
    
}